/.phpunit.cache
/node_modules
# /public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
# Excluir imágenes y videos locales de prueba
/storage/app/public/tours/*.jpg
/storage/app/public/tours/*.webp
/storage/app/public/hotels/*.jpg
/storage/app/public/hotels/*.webp
